.DropDown-container {
    border: 1px solid blue;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    width: fit-content;
}

.DropDown-item {
    border: 1px solid blue;
    color: black;
    display: block;
    padding-left: 23px;
    padding-right: 23px;
    text-align: left;
    text-decoration: none;
}