.NavBar {
    padding: 1px;
    background-color: bisque;
}

.NavBar-container {
    border: 1px solid blue;
    text-align: left;
    font-size: 25px;
    margin-bottom: 0px;
}

.NavBar-item {
    display: inline-flex;
    border: 3px solid white;
    border-radius: 4px;
    margin: 0px 5px;
    padding: 10px 25px;
}

.NavBar-DropDown-container {
    border: 1px solid blue;
    text-align: left;
    margin-top: -1px;
    position: absolute;
}

.NavBar-DropDown-item {
    display: none;
    margin: 0px 5px;
}